div {
      position:fixed;
      top: 50%;
      left: 50%;
      margin-top: -9em; 
      margin-left: -15em;
      height: 95px;
      width: 269px;
      border-radius: 5px;
      text-align: center;
      color: #FFFFFF;
      font-family: Verdana, Arial, Sans-Serif;
      opacity: 0.2;
}
img{
  padding-top: 112px
  height: 95px;
  width: 269px;
}
