a{
  color: #404040;
	text-decoration: none;
}

a:hover {

	text-decoration: underline;
}


#header_div{
  position: relative;
	display:inline-block;
	top: -5px;
  margin-top: 8px;
  float: right;
  margin-right: 22px;
  font-family: arial;
  font-size: 15px;
}


.heading{
  opacity: 0.6;
	position: relative;
	top: 10px;
}

#logo_div {
  clear: both;
	padding-top: 135px;
	width: 100%;
}

#logo{
  height: 95px;
  width: 289px;
}

#search_box_input{
  -webkit-appearance: none
  border: 2px solid #dadada;
  border-radius: 3px;
  position:relative;
  width: 559px;
  height: 25px;
  background-repeat:no-repeat;
  background-size: 25px;
  background-position: 99% 50%;
  background-image: url(https://cdn-images.xda-developers.com/direct/1/7/5/9/8/9/4/microphone-3-xxl.png);
  opacity: 0.6;
}
#search_box_input:focus{
  outline: 2px;
    border-color: #89cff0;
    box-shadow: 0 0 6px #9ecaed;
}

#search_box_div{
  height: 102px;
}

#button_div{
  padding-top:2px
  position:relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: -70px;
  width: 571px;
  height: 51px;

}


.b1_class{
  height: 35px;
  line-height: 27px;
  border-radius: 3px;
  font-family:arial, sans-serif;
  margin: 11px 8px;
  min-width: 54px;
  padding: 0px 8px;
	color:#404040;
	line-height: 28px;
	border: 1px solid rgba(0,0,0,.1);
	background-color: #f2f2f2;
	position: relative;
	display: inline-block;
	font-size: 11px;
	font-weight: bold;
	text-align: center;
}
