div {
      position:fixed;
      top: 55%;
      left: 55%;
      margin-top: -9em;
      margin-left: -15em;
      height: 95px;
      width: 269px;
      border-radius: 5px;
      text-align: center;
      color: #FFFFFF;
      font-family: Verdana, Arial, Sans-Serif;
      opacity: 1;
}
img{
  padding-top: 112px
  height: 95px;
  width: 269px;
  opacity: 0.4;
}
