html{
  font-family: arial,sans-serif;
  color: #e2e2e2;
}
body{
  background: #ccc;
  margin: 0;
}
#container{
  width: auto;
  height: 660px;
}

#header{
  width: 98%%;
  height: 50px;
  border-bottom: 3px solid #da1f3b;
  border-right: 3px solid #da1f3b;
  border-left:3px solid #da1f3b;
  border-bottom-right-radius: 5px; 
  border-bottom-left-radius:5px;
  background: #3D3D3D;	
}

#intro{
	display: none;
	width: 60%;
	height: 320px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border-left: 2px solid #3D3D3D;
	border-right: 2px solid #3D3D3D;
	border-bottom: 2px solid #3D3D3D;
	background-color: #2d2d2d;
  box-shadow: 3px 3px 5px 3p #878787;
  font-family: helvetica;
  
}
#logo{
	float: left;
	margin: 10px;
}

#logo_span{
 
  text-decoration: none;
  font-size: 17px;
  font-weight: bold;
  2000-variant: small-caps;
  letter-spacing: 1px;
  color: #aaa;
}
#info_tab{
    margin-right: 200px;
}