html {
    font-family: arial, sans-serif;
    color: #e2e2e2;
}
body {
    
    margin: 0;
}
#container {
    width: auto;
    height: 660px;
}
#header {
    width: 98%%;
    height: 75px;
    border-bottom: 3px solid black;
    border-right: 3px solid black;
    border-left:3px solid black;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius:5px;
    background: black;
}
#slide_info {
    position:absolute;
}
#intro {
    display: none;
    width: 70%;
    height: auto;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-left: 2px solid #3D3D3D;
    border-right: 2px solid #3D3D3D;
    border-bottom: 2px solid #3D3D3D;
    background-color: #2d2d2d;
    box-shadow: 3px 3px 5px 3p #878787;
    font-family: helvetica;
}
#logo {
    float: left;
    margin: 10px;
}
#logo_span {
    text-decoration: none;
    font-size: 20px;
    font-weight: 200;
    font-variant: small-caps;
    letter-spacing: 1px;
    color: #aaa;
}

#logo_img{
  width: 27px;
  height: 22px;
  vertical-align:middle;
  margin-left: 12px;

}
#logo_img:hover{
  border-radius: 50%;
}
#info_tab {
    margin-right: 200px;
}
#banner {
    width: 98%%;
    height: 400px;
    background-color: #663300;
}

#left_column{
    display: inline-block;
    width: 49%;
    height: 370px;
    background-color: blue;

}

#right_column{
    display: inline-block;
    width: 50%;
    height: 370px;
    background-color: green;

}
#footer{
  width: 100%;
  height: 86px;
  background-color: purple;
}